
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" routerLink="">AutoBody</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav col-12">
      <a class="nav-item nav-link active col-3" routerLink="#">Accueil <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link col-3" routerLink="/depot">Déposer une annonce</a>
      <a class="nav-item nav-link col-3" routerLink="/offres">Offres</a>
      <a *ngIf="auth.user == null"class="nav-item nav-link col-3" routerLink="/login">Se connecter</a>
      <a *ngIf="auth.user"class="nav-item nav-link col-3" routerLink="/gestion_annonce">{{auth.user}}</a>
    </div>
  </div>
</nav>
