<form [formGroup]="annonceForm" (ngSubmit)="deposerAnnonce()" >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Marque</label>
          <input type="text" class="form-control" formControlName="marque">
        </div>
        <div class="form-group">
          <label>Modèle</label>
          <input type="text" class="form-control" formControlName="modele">
        </div>
        <div class="form-group">
          <label>Catégorie</label>
          <input type="text" class="form-control" formControlName="categorie">
        </div>
        <div class="form-group">
          <label>Energie</label>
          <select formControlName="energies" class="form-control">
            <option *ngFor="let energie of energies">{{energie.energie}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Année</label>
          <input type="text" class="form-control" formControlName="annee">
        </div>
        <div class="form-group">
          <label>Kilométrage</label>
          <input type="text" class="form-control" formControlName="kilometrage">
        </div>
        <div class="form-group">
          <label>Localisation</label>
          <input type="text" class="form-control" formControlName="localisation">
        </div>
        <div class="form-group">
          <label>Stage</label>
          <input type="number"  class="form-control" formControlName="stage" [min]="0" [max]="3">
        </div>
        <div class="form-group">
          <label>Prix</label>
          <input type="text" class="form-control" formControlName="prix">
        </div>


        <div class="form-group">
          <button class="btn btn-primary form-control" type="submit">Déposer</button>
        </div>
      </div>

<!--      Upload Image-->
      <div class="col-md-6">

        <div class="row mb-2">
          <div class="col-4 image-upload border pt-2 pb-2" *ngFor="let i of [0,1,2]">
              <div class="image-preview mb-3" *ngIf="images[i]">
                <img [src]="images[i]" class="upload-image" />
              </div>

              <i *ngIf="!images[i]">
                <i class="material-icons">add_a_photo</i>
              </i>
              <input type="file" (change)="chargerImage($event)" multiple />
            <!-- <img src="https://img4.autodeclics.com/photo_article/89163/24938/1200-L-audi-a3-sportback.jpg" class="upload-image" />
            -->

          </div>

<!--          <div class="col-4 image-upload border pt-2 pb-2">-->
<!--              <div class="image-preview mb-3" *ngIf="images[0]">-->
<!--                <img [src]="images[0]" class="upload-image" />-->
<!--              </div>-->

<!--              <i *ngIf="!images[0]">-->
<!--                <i class="material-icons">add_a_photo</i>-->
<!--              </i>-->
<!--              <input type="file" (change)="chargerImage($event)" multiple />-->
<!--            &lt;!&ndash; <img src="https://img4.autodeclics.com/photo_article/89163/24938/1200-L-audi-a3-sportback.jpg" class="upload-image" />-->
<!--            &ndash;&gt;-->

<!--          </div>-->

<!--          <div class="col-4 image-upload border pt-2 pb-2">-->
<!--              <div class="image-preview mb-3" *ngIf="images[1]">-->
<!--                <img [src]="images[1]" class="upload-image" />-->
<!--              </div>-->

<!--              <i *ngIf="!images[1]">-->
<!--                <i class="material-icons">add_a_photo</i>-->
<!--              </i>-->
<!--              <input type="file" (change)="chargerImage($event)" multiple />-->
<!--            &lt;!&ndash; <img src="https://img4.autodeclics.com/photo_article/89163/24938/1200-L-audi-a3-sportback.jpg" class="upload-image" />-->
<!--            &ndash;&gt;-->

<!--          </div>-->

<!--          <div class="col-4 image-upload border pt-2 pb-2">-->
<!--              <div class="image-preview mb-3" *ngIf="images[2]">-->
<!--                <img [src]="images[2]" class="upload-image" />-->
<!--              </div>-->

<!--              <i *ngIf="!images[2]">-->
<!--                <i class="material-icons">add_a_photo</i>-->
<!--              </i>-->
<!--              <input type="file" (change)="chargerImage($event)" multiple />-->
<!--            &lt;!&ndash; <img src="https://img4.autodeclics.com/photo_article/89163/24938/1200-L-audi-a3-sportback.jpg" class="upload-image" />-->
<!--            &ndash;&gt;-->

<!--          </div>-->


        </div>

        <div class="row mb-4">

          <div class="col-4 image-upload border pt-2 pb-2" *ngFor="let i of [3,4,5]">
            <div class="image-preview mb-3" *ngIf="images[i]">
              <img [src]="images[i]" class="upload-image" />
            </div>

            <i *ngIf="!images[i]">
              <i class="material-icons">add_a_photo</i>
            </i>
            <input type="file" (change)="chargerImage($event)" multiple />
            <!-- <img src="https://img4.autodeclics.com/photo_article/89163/24938/1200-L-audi-a3-sportback.jpg" class="upload-image" />
            -->

          </div>

         <!-- <div class="col-4 image-upload border">
            <i>
              <i class="material-icons">add_a_photo</i>
            </i>
            <input type="file" (change)="chargerImage($event)" multiple />
          </div>
          <div class="col-4 image-upload border">
            <i>
              <i class="material-icons">add_a_photo</i>
            </i>
            <input type="file" (change)="chargerImage($event)" multiple />
          </div>

          <div class="col-4 image-upload border">
            <i>
              <i class="material-icons">add_a_photo</i>
            </i>
            <input type="file" (change)="chargerImage($event)" multiple />
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Charger un fichier</label>
              </div>
            </div>
          </div>

          <!-- les fichiers chargés -->
        </div>


      </div>

    </div>
  </div>

</form>
