<form [formGroup]="annonceForm" (ngSubmit)="deposerAnnonce()" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="form-group row">
          <div class="col-12">
            <label>Marque</label>
            <input type="text" class="form-control" formControlName="make" list="makes_list" (change)="activateChamp('make')">
              <datalist id="makes_list">
                <option *ngFor="let makelist of makeslist; let i = index" [value]="makeslist[i].make" >
              </datalist>
          </div>
        </div>
        <div class="form-group row ">
          <div class="col-md-6 col-12">
            <label>Modèle</label>
            <fieldset [disabled]="isMake">
            <input type="text" class="form-control" formControlName="modele" list="modeles_list" (change)="activateChamp('modele')">
              <datalist id="modeles_list">
                <option *ngFor="let modelelist of modeleslist; let m = index" [value]="modeleslist[m].modele" >
              </datalist>
            </fieldset>
          </div>
          <div class="col-md-6 col-12">
            <label>Catégorie</label>
            <fieldset [disabled]="isModele">
              <input type="text" class="form-control" formControlName="category" list="categories_list" (change)="activateChamp('category')">
              <datalist id="categories_list">
                <option *ngFor="let categorylist of categorieslist; let c = index" [value]="categorieslist[c].category" >
              </datalist>
            </fieldset>

          </div>
        </div>

        <fieldset [disabled]="isCategory">
        <div class="form-group row ">
          <div class="col-md-6 col-12">
            <label>Année</label>
            <input type="number" class="form-control" formControlName="annee" [max]="2020">
          </div>

          <div class="col-md-6 col-12">
            <label>Energie</label>
            <select formControlName="energies" class="form-control">
              <option *ngFor="let energie of energies; let i = index" [value]="energies[i].value">{{energies[i].value}}</option>
            </select>
         </div>
      </div>

        <div class="form-group row ">
          <div class="col-md-3 col-6">
            <label>Nb place</label>
            <input type="number" class="form-control" formControlName="placeNumber" [max]="7">
          </div>
          <div class="col-md-3 col-6">
            <label>PV</label>
            <input type="number" class="form-control" formControlName="horsePower">
          </div>
          <div class="col-md-3 col-6">
            <label>CV</label>
            <input type="number" class="form-control" formControlName="fiscalHorsePower">
          </div>
          <div class="col-md-3 col-6">
          <label>Stage</label>
          <input type="number"  class="form-control" formControlName="stage" [min]="0" [max]="3">
        </div>

        </div>

        <div class="form-group row ">
          <div class="col-md-6 col-12">
            <label>Kilométrage</label>
            <input type="number" class="form-control" formControlName="kilometrage">
          </div>
          <div class="col-md-6 col-6">
          <label>Prix</label>
          <input type="number" class="form-control" formControlName="prix">
        </div>
        </div>

        <div class="form-group row ">
          <div class="form-check col-md-6 col-12">
            <input type="checkbox" class="form-check-input" formControlName="reinforcedCluth" id="exampleCheck1">
            <label class="form-check-label"  for="exampleCheck1">Embrayage renforcé</label>
          </div>
          <div class="col-md-6 col-12">
            <label>Localisation</label>
            <input type="text" class="form-control" formControlName="localisation">
          </div>

        </div>

        <div class="form-group">
          <button class="btn btn-primary form-control" type="submit">Déposer</button>
        </div>

        </fieldset>
      </div>

<!--      Upload Image-->
      <div class="col-md-6">

        <div class="row mb-2">
          <div class="col-4 image-upload border pt-2 pb-2" *ngFor="let i of [0,1,2]">
              <div class="image-preview mb-3" *ngIf="images[i]">
                <img [src]="images[i]" class="upload-image" />
              </div>

              <i *ngIf="!images[i]">
                <i class="material-icons">add_a_photo</i>
              </i>
              <input type="file" (change)="uploadImage($event)" multiple />

          </div>
        </div>

        <div class="row mb-4">

          <div class="col-4 image-upload border pt-2 pb-2" *ngFor="let i of [3,4,5]">
            <div class="image-preview mb-3" *ngIf="images[i]">
              <img [src]="images[i]" class="upload-image" />
            </div>

            <i *ngIf="!images[i]">
              <i class="material-icons">add_a_photo</i>
            </i>
            <input type="file" (change)="uploadImage($event)" multiple />
          </div>

        </div>

        <div class="row">

          <div>
            Les factures <br>
            Les fichiers joignables *
          </div>

          <div class="col-md-12">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="uploadFichier($event)" accept="application/pdf">
                <label class="custom-file-label" for="inputGroupFile01">Charger un fichier</label>
              </div>
            </div>
          </div>


          <div class="col-12">
            <label class="col-12" *ngFor="let pj of pjs">{{pj.name}}</label>
          </div>


          <div class="border mt-3">Les fichiers possible : <br>entreien, changement des melement, factures des materiel </div>
          <!-- les fichiers chargés -->
        </div>

      </div>

    </div>
  </div>

</form>
