<form [formGroup]="annonceForm" (ngSubmit)="modifierAnnonce()" >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Marque</label>
          <input type="text" class="form-control" formControlName="make">
        </div>
        <div class="form-group">
          <label>Modèle</label>
          <input type="text" class="form-control" formControlName="modele">
        </div>
        <div class="form-group">
          <label>Catégorie</label>
          <input type="text" class="form-control" formControlName="categorie">
        </div>
        <div class="form-group">
          <label>Energie</label>
          <select formControlName="energies" class="form-control">
            <option *ngFor="let energie of energies">{{energie.energie}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Année</label>
          <input type="text" class="form-control" formControlName="annee">
        </div>
        <div class="form-group">
          <label>Kilométrage</label>
          <input type="text" class="form-control" formControlName="kilometrage">
        </div>
        <div class="form-group">
          <label>Localisation</label>
          <input type="text" class="form-control" formControlName="localisation">
        </div>
        <div class="form-group">
          <label>Stage</label>
          <input type="number"  class="form-control" formControlName="stage" [min]="0" [max]="3">
        </div>
        <div class="form-group">
          <label>Prix</label>
          <input type="text" class="form-control" formControlName="prix">
        </div>


        <div class="form-group">
          <button class="btn btn-primary form-control" type="submit">Déposer</button>
        </div>
      </div>

      <div class="col-md-6">
        <h1>Images</h1>
      </div>

    </div>
  </div>

</form>
