<div class="container">

  <h1>Annonces</h1>

  <div class="row">
    <!-- Corps de l'annonce -->
    <div class="col-9">
      <div *ngFor="let annonce of annonces" (click)="onSelectOffre(annonce.id)">

        <div class='row border' style="margin-bottom: 20px" (click)="showCompletDetail(annonce.id)">

          <div class="col-md-3 p-0 imageCadrage">
            <img src="{{annonce.image}}" alt="" width="100%" height="100%">
          </div>
<!--          Description de l'annonce-->
          <div class="col-md-4">
            <p>Marque : {{annonce.make.make}}</p>
            <p>Modèle : {{annonce.model.model}}</p>
            <p>Catégorie : {{annonce.categories.category}}</p>
            <p>Energie : {{annonce.energie}}</p>
            <p>KM :{{annonce.kilometrage}}</p>
            <p>Immatriculé : {{annonce.annee}}</p>

          </div>

<!--          Prix et localisation et stage-->
          <div class="col-md-2">

            <p>Stage : {{annonce.stage}}</p>
            <p>Localisé à {{annonce.localisation}}</p>
            <p class="text-justify-right"><strong> {{annonce.prix}} € </strong> </p>
          </div>
        </div>

      </div>
    </div>

    <!-- Corps de filtrage -->
    <div class="col-3">
      <div class="input-group mb-3 mt-2">
      <select class="custom-select" id="tri" (change)="onSelectFilter($event)">
        <option value="recentes" selected>Plus récentes</option>
        <option value="anciennes">Plus anciennes</option>
        <option value="croissant">Prix croissant</option>
        <option value="decroissant">Prix décroissant</option>

      </select>
    </div>
      <hr>
      <div class="input-group mb-3">
        <input type="text" class="form-control" list="makes_list" placeholder="Marque">
        <datalist id="makes_list">
          <option *ngFor="let make_list of makesList; let m = index" [value]="makesList[m].make" >
        </datalist>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" list="models_list" placeholder="Modèle">
        <datalist id="models_list">
          <option *ngFor="let model of modelList; let mod = index" [value]="modelList[mod].model" >
        </datalist>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" list="categories_list" placeholder="Catégorie">
        <datalist id="categories_list">
          <option *ngFor="let category of categoryList; let c = index" [value]="categoryList[c].category" >
        </datalist>

        <!-- <select class="custom-select" id="category">
          <option selected>Category...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select> -->
      </div>


      <div class="input-group mb-3">
        <input type="text" class="form-control" list="energies_list" placeholder="Carburant">
        <datalist id="energies_list">
          <option *ngFor="let energy of energies; let e = index" [value]="energies[e].value" >
        </datalist>

        <!-- <select class="custom-select" id="energie">
          <option selected>Carburant</option>
          <option *ngFor="let energie of energies; let i = index" [value]="energies[i].value">{{energies[i].value}}</option>
        </select> -->
      </div>

      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Prix min" aria-label="minPrix" aria-describedby="basic-addon1">
        <input type="number" class="form-control" placeholder="Prix max" aria-label="maxPrix" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Année" aria-label="annee" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="CH" aria-label="pv" aria-describedby="basic-addon1">
        <input type="number" class="form-control" placeholder="CV" aria-label="cv" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <button class="form-control btn btn-primary">Filtrer</button>
      </div>
    </div>
  </div>

</div>
