<div class="container">

  <h1>Annonces</h1>

  <div class="row">
    <!-- Corps de l'annonce -->
    <div class="col-9">
      <div *ngFor="let annonce of annonceService.annonces;let index = index">

        <div class='row border' style="margin-bottom: 20px" (click)="showCompletDetail(index)">

          <div class="col-md-3 p-0 imageCadrage">
            <img src="{{annonce.image}}" alt="" width="100%" height="100%">
          </div>
<!--          Description de l'annonce-->
          <div class="col-md-4">
            <p>Marque : {{annonce.make}}</p>
            <p>Modèle : {{annonce.model}}</p>
            <p>Catégorie : {{annonce.category}}</p>
            <p>Energie : {{annonce.energy}}</p>
            <p>KM :{{annonce.mileage}}</p>
            <p>Immatriculé : {{annonce.year}}</p>

          </div>

<!--          Prix et localisation et stage-->
          <div class="col-md-2">

            <p>Stage : {{annonce.stage}}</p>
            <p>Localisé à {{annonce.localisation}}</p>
            <p class="text-justify-right"><strong> {{annonce.price}} € </strong> </p>
          </div>
        </div>

      </div>
    </div>

    <!-- Corps de filtrage -->
    <div class="col-3">
      <div class="input-group mb-3 mt-2">
      <select class="custom-select" id="tri" (change)="onSelectFilter($event)">
        <option value="recentes" selected>Plus récentes</option>
        <option value="anciennes">Plus anciennes</option>
        <option value="croissant">Prix croissant</option>
        <option value="decroissant">Prix décroissant</option>

      </select>
    </div>
      <hr>
      <div class="input-group mb-3">
        <input type="text" class="form-control" list="makes_list" placeholder="Marque">
        <datalist id="makes_list">
          <option *ngFor="let make_list of annonceService.makes; let m = index" [value]="annonceService.makes[m].make" >
        </datalist>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" list="models_list" placeholder="Modèle">
        <datalist id="models_list">
          <option *ngFor="let model of annonceService.models; let mod = index" [value]="annonceService.models[mod].model" >
        </datalist>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" list="categories_list" placeholder="Catégorie">
        <datalist id="categories_list">
          <option *ngFor="let category of annonceService.categories; let c = index" [value]="annonceService.categories[c].category" >
        </datalist>

      </div>


      <div class="input-group mb-3">
        <input type="text" class="form-control" list="energies_list" placeholder="Carburant">
        <datalist id="energies_list">
          <option *ngFor="let energy of annonceService.energies; let e = index" [value]="annonceService.energies[e].value" >
        </datalist>
      </div>

      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Prix min" aria-label="minPrix" aria-describedby="basic-addon1">
        <input type="number" class="form-control" placeholder="Prix max" aria-label="maxPrix" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Année" aria-label="annee" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="CH" aria-label="pv" aria-describedby="basic-addon1">
        <input type="number" class="form-control" placeholder="CV" aria-label="cv" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <button class="form-control btn btn-primary">Filtrer</button>
      </div>
    </div>
  </div>

</div>
