<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 >Register Form</h1>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">
              <label>Usernanme</label>
              <input type="input" class="form-control" formControlName="username">
            </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" formControlName="mail" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
  </div>
</div>

